body {
  font-family: 'Roboto', sans-serif;
}

/* Nav Bar */

.brand-logo {
  width: 50px;
  height: 50px;
}
.navbar-nav {
  list-style-type: none;
}

.navbar-toggler{
  margin-bottom: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  float: left;
}


.titles {
  background-image: url('images/mountain-sunset.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2 {
  font-weight: bold;
  color: #f8f8f8;
}


/* Heading */

.big-events-heading {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
  color: #ffffff;
}

.events-infos {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.events-to-come {
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}


/* Event Cards */

.events {
  padding: 2rem;
}


ul {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 1rem;
  list-style: none;
}

.events li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

figure img {
  width: 100%;
}

figure figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

figure figcaption h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.events li h6 {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
}

.events li p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}


.events-btn {
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    margin: .5rem;
}

@media screen and (max-width:320px) {
  .events ul {
    padding-left: 0%;
  }
}

/* PETITIONS */

.petitions-title {
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.petition-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.wrapper {
  /* display: flex; */
  width: 100%;
  justify-content: space-around;
}

.petition-card {
  width: 70%;
  height: 360px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.petition-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.petition-card-infos {
  position: relative;
  z-index: 3;
  color: #fff;
  max-width: 100%;
}

.petition-card-infos h2 {
  margin: 0;
  padding: 2rem 0.5rem 1rem;
}

.petition-card-infos p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top:8px;
  margin-bottom: 20px;
  padding-left: 0.5rem;
}


@media screen and (max-width: 320px){

}
  
/* Petition cards effect for desktop and other screen that allow hover effect. */
@media (hover) {
  .petition-card{
    transition: 0.5s ease-in-out;
  }

  .petition-card:hover {
    transform: translateY(20px);
  }
  
  .petition-card:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  
  .petition-card:hover:before {
    opacity: 1;
  }

  .petition-card-infos {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }

  .petition-card-infos:hover {
    opacity: 1;
    transform: translateY(0px);
  }

  .petition-btn {
    transition: 0.4 ease-in-out;
  }

  .petition-btn:hover {
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  }
}

.petition-btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.5rem;
  position: relative;
}



/* Donate Section */

.donate-section {
  background-color: #9DC08B;
  margin-top: 3%;
}

.donate-content{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.donate-heading {
  color: black;
  padding-top: 20%;
}

.donate-hook {
  font-size: large;
  font-weight: bold;
  color:black;
  padding-top: 15%;
}

.donate-button {
  margin: 5% 3% 5% 0;
}

.donate-image {
  border-radius: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

/* Footer Section */

#footer {
  text-align: center;
  line-height: 1.5rem;
  padding: 7% 15%;
}

.social-icons {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}
