body {
  font-family: 'Roboto', sans-serif;
}

/* Nav Bar */

.brand-logo {
  width: 50px;
  height: 50px;
}
.navbar-nav {
  list-style-type: none;
}

.navbar-toggler{
  /* margin-left: 90%; */
  margin-bottom: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  float: left;
}


.titles {
  background-image: url('images/forest.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2 {
  font-weight: bold;
  color: #f8f8f8;
}


/* Heading */

.big-events-heading {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
  color: #ffffff;
}

.events-infos {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

/* Event Cards */

.events-card img {
  width: 100px;
  height: 100px;
}

.events-card {
  box-shadow: rgb(0 0 0 / 8%);
}