body {
  font-family: 'Roboto', sans-serif;
}


/* Nav Bar */

.brand-logo {
  width: 50px;
  height: 50px;
}
.navbar-nav {
  list-style-type: none;
}

.navbar-toggler{
  /* margin-left: 90%; */
  margin-bottom: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  float: left;
}



/* Header */
.main-heading {
  background-image: url('images/fishes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  z-index: inherit;
}

.primary-heading {
  font-weight: 900;
  line-height: 1.5;
  padding-top: 3%;
  padding-bottom: 2%;
}

.primary-text {
  font-weight: 900;
  font-size: large;
  line-height: 1.5;
  padding-top: 5%;
  padding-bottom: 2%;
}


.donate-button, .volunteer-button {
  margin: 5% 3% 5% 0;
  color: #fff;
} 

.btn-div {
  padding-top: 3%;
}

/* Stats */

#stats {
  background-color: #E4D1B9;
  padding: 5% 3% 5% 3%;
  text-align: center;
}

.main-stats-box {
  background-color: #BE8C63;
  justify-content: center;
  line-height: 1.5;
  padding: 4% 2% 2% 2%;
  z-index: inherit;
}

.stats-box {
  padding: 4% 2% 4% 2%;
}

.stats-title {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
}

/* Volunteering */

#volunteering {
  text-align: center;
  padding: 4% 2% 4% 2%;
  background-color: #EEE9DA;
}

.volunteering-heading{
  font-size: 700;
}

.volunteer-image {
  /* border-radius: 25%; */
  padding-bottom: 5%;
  width: 20rem;
  height: 25rem;
}

.volunteer-title{
  padding-top: 2%;
}

.volunteer-text {
  padding: 4% 2% 4% 2%;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(100%);
}

.carousel-item {
  padding: 5% 15%;
}

/* Small Actions  */
#small-actions {
  text-align: center;
  padding: 4% 2% 4% 2%;
  background-color: #8FBDD3;
}

.actions-heading{
  font-size: 2.5rem;
}
.actions-subheading {
  font-size: 1.5rem;
  padding: 2% 4% 6%;
}


.card {
  background: linear-gradient(90deg, #93BFCF, #93BFCF);
}


/* Footer Section */

#footer {
  text-align: center;
  line-height: 1.5rem;
  padding: 7% 15%;
}

.social-icons {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}


@media (max-width: 320px) {
  .volunteer-image {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }
}